#
# Dev dependencies for testing - extends requirements.txt
#
-r requirements.txt
pytest~=7.0.0
pytest-cov

# pytest and pytest-cov transitive deps
attrs==25.3.0
    # via pytest
coverage[toml]==7.8.0
    # via pytest-cov
iniconfig==2.1.0
    # via pytest
pluggy==1.5.0
    # via pytest
py==1.11.0
    # via pytest
tomli==2.2.1
    # via pytest
